/*
Error: Invalid CSS after "...e'; } /* '' *\/": expected "}", was ""
        on line 130 of /Applications/MAMP/htdocs/loreal_hidratotal_landing/scss/font.scss

125:   /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); *\/
126: }
127:  
128: .icon-twitter:before { content: '\f309'; } /* '' *\/
129: .icon-facebook:before { content: '\f30c'; } /* '' *\/
130: .icon-facebook-squared:before { content: '\f30e'; } /* '' *\/

Backtrace:
/Applications/MAMP/htdocs/loreal_hidratotal_landing/scss/font.scss:130
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1179:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1115:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1110:in `tok!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:212:in `directive_body'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:203:in `directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:673:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:666:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:123:in `stylesheet'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:39:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:403:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:423:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...e'; } /* '' */\": expected \"}\", was \"\"\A         on line 130 of /Applications/MAMP/htdocs/loreal_hidratotal_landing/scss/font.scss\A \A 125:   /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */\A 126: }\A 127:  \A 128: .icon-twitter:before { content: '\f309'; } /* '' */\A 129: .icon-facebook:before { content: '\f30c'; } /* '' */\A 130: .icon-facebook-squared:before { content: '\f30e'; } /* '' */"; }
