@charset "UTF-8";
@font-face {
  font-family: 'GothamBlack';
  src: url("fonts/GothamBlack.eot");
  src: url("fonts/GothamBlack.eot?#iefix") format("embedded-opentype"), url("fonts/GothamBlack.woff") format("woff"), url("fonts/GothamBlack.ttf") format("truetype"), url("fonts/GothamBlack.svg#GothamBlack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamBold';
  src: url("fonts/GothamBold.eot");
  src: url("fonts/GothamBold.eot?#iefix") format("embedded-opentype"), url("fonts/GothamBold.woff") format("woff"), url("fonts/GothamBold.ttf") format("truetype"), url("fonts/GothamBold.svg#GothamBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamBook';
  src: url("fonts/GothamBook.eot");
  src: url("fonts/GothamBook.eot?#iefix") format("embedded-opentype"), url("fonts/GothamBook.woff") format("woff"), url("fonts/GothamBook.ttf") format("truetype"), url("fonts/GothamBook.svg#GothamBook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamLight';
  src: url("fonts/GothamLight.eot");
  src: url("fonts/GothamLight.eot?#iefix") format("embedded-opentype"), url("fonts/GothamLight.woff") format("woff"), url("fonts/GothamLight.ttf") format("truetype"), url("fonts/GothamLight.svg#GothamLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamMedium';
  src: url("fonts/GothamMedium.eot");
  src: url("fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), url("fonts/GothamMedium.woff") format("woff"), url("fonts/GothamMedium.ttf") format("truetype"), url("fonts/GothamMedium.svg#GothamMedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fontello';
  src: url("font/fontello.eot?6165381");
  src: url("font/fontello.eot?6165381#iefix") format("embedded-opentype"), url("font/fontello.woff2?6165381") format("woff2"), url("font/fontello.woff?6165381") format("woff"), url("font/fontello.ttf?6165381") format("truetype"), url("font/fontello.svg?6165381#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?6165381#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-twitter:before {
  content: '\f309'; }

/* '' */
.icon-facebook:before {
  content: '\f30c'; }

/* '' */
.icon-facebook-squared:before {
  content: '\f30e'; }

/* '' */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-family: "GothamBook"; }

a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none;
    padding: 0;
    margin: 0; }

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box; }

/****** Main ********/
.header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none; }

.panel {
  overflow: hidden; }
  .panel h1 {
    font-size: 4em;
    font-family: "GothamBold";
    margin: .3em 0; }
  .panel p {
    line-height: 140%; }
  .panel:after {
    content: "";
    display: table;
    clear: both; }
  .panel .box {
    width: 50%;
    height: 100%;
    float: left;
    text-transform: uppercase; }
    .panel .box.left {
      background: #000;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      justify-content: center; }
      .panel .box.left .brand {
        padding: 0 0 4em 0;
        text-align: center; }
    .panel .box.right {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center; }
      .panel .box.right .content {
        box-sizing: border-box;
        padding: 2em 5em; }
        .panel .box.right .content a span {
          font-family: "GothamBold"; }
  .panel .content {
    width: 100%; }
    .panel .content p {
      font-size: 2em;
      line-height: 130%; }
      .panel .content p span {
        font-family: "GothamBold"; }
  .panel a.btn {
    display: block;
    background: #fff;
    color: #000;
    padding: 20px;
    width: 90%;
    max-width: 450px;
    text-align: center;
    margin: 5em auto 0;
    -webkit-box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px; }
    .panel a.btn:hover {
      opacity: .9;
      transform: scaleX(1.03) scaleY(1.03); }
  .panel.home {
    background: #000; }
    .panel.home .container {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.8em;
      height: 100%;
      position: relative; }
      .panel.home .container img.logo-home {
        padding: 3em 0 1em 0; }
      .panel.home .container h3 {
        color: #c5a366; }
      .panel.home .container ul.edad {
        position: absolute;
        width: 100%;
        bottom: 0; }
        .panel.home .container ul.edad:after {
          content: "";
          display: table;
          clear: both; }
        .panel.home .container ul.edad li {
          width: 33.3%;
          float: left;
          transition: all ease .3s; }
          .panel.home .container ul.edad li a {
            display: block;
            transition: initial; }
          .panel.home .container ul.edad li span {
            display: block; }
            .panel.home .container ul.edad li span img {
              width: 100%;
              display: block; }
            .panel.home .container ul.edad li span:nth-child(1) {
              font-size: 2.2em; }
            .panel.home .container ul.edad li span:nth-child(2) {
              font-family: "GothamMedium";
              font-size: 1.2em; }
          .panel.home .container ul.edad li:nth-child(1) span {
            color: #0080bc; }
          .panel.home .container ul.edad li:nth-child(2) span {
            color: #591e5f; }
          .panel.home .container ul.edad li:nth-child(3) span {
            color: #f79449; }
          .panel.home .container ul.edad li:hover {
            opacity: .7; }
  .panel.two .box.right {
    background: #0080bc; }
  .panel.three .box.right {
    background: #591e5f; }
  .panel.four .box.right {
    background: #f79449; }
  .panel.five .box.left {
    background: url(../images/Florenciabonelli.jpg) no-repeat center center #000;
    background-size: cover;
    position: relative; }
    .panel.five .box.left .biography {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      padding: .3em 2em;
      text-transform: initial; }
      .panel.five .box.left .biography span {
        display: block;
        border-bottom: 1px solid #d7b47a;
        padding-bottom: .3em; }
      .panel.five .box.left .biography p {
        text-align: justify;
        font-size: .9em;
        line-height: 120%; }
  .panel.five .box.right {
    background: #d7b47a; }
    .panel.five .box.right .content {
      text-transform: initial; }
      .panel.five .box.right .content a {
        width: 60%;
        text-transform: uppercase; }
  .panel.participa {
    font-size: 18px; }
    .panel.participa .scene:before {
      content: "";
      left: 0;
      right: 0;
      z-index: -1;
      display: block;
      height: 100%;
      background-size: cover;
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px); }
    .panel.participa .step {
      color: #000;
      height: 100%;
      position: relative;
      overflow: hidden; }
      .panel.participa .step .text {
        position: absolute;
        color: #fff;
        font-family: "GothamLight";
        text-shadow: 0 3px 8px #454545;
        z-index: 1; }
      .panel.participa .step.login, .panel.participa .step.scene-01 {
        display: none;
        height: 100%; }
        .panel.participa .step.login .container, .panel.participa .step.scene-01 .container {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #000;
          text-align: center; }
          .panel.participa .step.login .container p, .panel.participa .step.scene-01 .container p {
            padding: 0 2em;
            font-family: "GothamBold";
            box-sizing: border-box;
            font-size: 0.8em; }
          .panel.participa .step.login .container a.btn, .panel.participa .step.scene-01 .container a.btn {
            background: #000;
            color: #fff;
            text-transform: uppercase;
            width: 350px;
            font-size: .8em;
            padding: 30px 20px;
            margin: 1.7em auto; }
      .panel.participa .step .thumb {
        width: 100%;
        height: auto;
        font-size: 0;
        max-width: 250px;
        max-height: 250px;
        position: absolute;
        border: 5px solid #fff;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.8);
        overflow: hidden; }
        .panel.participa .step .thumb span {
          display: block;
          border-radius: 3px;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1; }
        .panel.participa .step .thumb img {
          border-radius: 3px; }
      .panel.participa .step span {
        display: block; }
        .panel.participa .step span.year {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 190px;
          height: 65px;
          font-size: 3em; }
      .panel.participa .step.login {
        display: block; }
      .panel.participa .step.scene-01 .container p {
        font-family: "GothamBook"; }
      .panel.participa .step.scene-02 {
        display: none;
        -webkit-box-shadow: inset 0 0 100px 15px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 100px 15px rgba(0, 0, 0, 0.5);
        background: rgba(0, 0, 0, 0.1); }
        .panel.participa .step.scene-02 .thumb span {
          -webkit-box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.8); }
        .panel.participa .step.scene-02 .thumb.thumb-01 {
          top: 18%;
          right: 40%;
          width: 160px; }
        .panel.participa .step.scene-02 .thumb.thumb-02 {
          top: 23%;
          right: 20%;
          width: 140px; }
          .panel.participa .step.scene-02 .thumb.thumb-02 img {
            /*-webkit-filter: blur(2px);
            -moz-filter: blur(2px);
            -o-filter: blur(2px);
            -ms-filter: blur(2px);
            filter: blur(2px);*/ }
        .panel.participa .step.scene-02 .thumb.thumb-03 {
          top: 65%;
          left: 40%;
          width: 140px; }
        .panel.participa .step.scene-02 .thumb.thumb-04 {
          top: 60%;
          left: 20%;
          width: 150px; }
          .panel.participa .step.scene-02 .thumb.thumb-04 img {
            /*-webkit-filter: blur(2px);
            -moz-filter: blur(2px);
            -o-filter: blur(2px);
            -ms-filter: blur(2px);
            filter: blur(2px);*/ }
      .panel.participa .step.scene-03 {
        display: none; }
        .panel.participa .step.scene-03:before {
          background: url(../images/bg_01.jpg) no-repeat center center; }
        .panel.participa .step.scene-03 .text {
          left: 5%;
          bottom: 10%; }
        .panel.participa .step.scene-03 .thumb img {
          filter: brightness(0.6); }
        .panel.participa .step.scene-03 .thumb.thumb-01 {
          top: 56%;
          left: 50%;
          width: 170px; }
        .panel.participa .step.scene-03 .thumb.thumb-02 {
          top: 20%;
          left: 10%;
          width: 250px; }
        .panel.participa .step.scene-03 .thumb.thumb-03 {
          top: 5%;
          right: 10%;
          width: 200px; }
      .panel.participa .step.scene-04 {
        display: none; }
        .panel.participa .step.scene-04:before {
          background: url(../images/bg_01.jpg) no-repeat center center; }
        .panel.participa .step.scene-04 .text {
          top: 12%;
          right: 5%;
          width: 42%; }
        .panel.participa .step.scene-04 .thumb img {
          filter: brightness(0.6); }
        .panel.participa .step.scene-04 .thumb.thumb-01 {
          top: 15%;
          left: 20%;
          width: 220px; }
        .panel.participa .step.scene-04 .thumb.thumb-02 {
          top: 35%;
          right: 10%;
          width: 300px; }
        .panel.participa .step.scene-04 .thumb.thumb-03 {
          top: 57%;
          left: 20%;
          width: 250px; }
      .panel.participa .step.scene-05 {
        display: none;
        -webkit-box-shadow: inset 0 0 100px 15px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 100px 15px rgba(0, 0, 0, 0.5);
        background: rgba(0, 0, 0, 0.1); }
        .panel.participa .step.scene-05 .thumb img {
          /*-webkit-filter: blur(2px);
          -moz-filter: blur(2px);
          -o-filter: blur(2px);
          -ms-filter: blur(2px);
          filter: blur(2px);*/ }
        .panel.participa .step.scene-05 .thumb.thumb-01 {
          top: 11%;
          right: 40%;
          width: 140px; }
        .panel.participa .step.scene-05 .thumb.thumb-02 {
          top: 18%;
          right: 28%;
          width: 100px; }
        .panel.participa .step.scene-05 .thumb.thumb-03 {
          top: 65%;
          left: 40%;
          width: 150px; }
        .panel.participa .step.scene-05 .thumb.thumb-04 {
          top: 60%;
          left: 25%;
          width: 110px; }
      .panel.participa .step.scene-06 {
        display: none; }
        .panel.participa .step.scene-06:before {
          background: url(../images/bg_01.jpg) no-repeat center center; }
        .panel.participa .step.scene-06 .text {
          font-size: .9em;
          right: 10%;
          top: 13%;
          width: 45%; }
        .panel.participa .step.scene-06 .thumb img {
          filter: brightness(0.6); }
        .panel.participa .step.scene-06 .thumb.thumb-01 {
          top: 65%;
          left: 50%;
          width: 300px; }
        .panel.participa .step.scene-06 .thumb.thumb-02 {
          top: 25%;
          left: 10%;
          width: 250px; }
        .panel.participa .step.scene-06 .thumb.thumb-03 {
          display: none;
          top: 5%;
          right: 10%;
          width: 200px; }
      .panel.participa .step.scene-07 {
        display: none; }
        .panel.participa .step.scene-07:before {
          background: url(../images/bg_01.jpg) no-repeat center center; }
        .panel.participa .step.scene-07 .text {
          left: 15%;
          bottom: 20%; }
          .panel.participa .step.scene-07 .text span {
            font-size: .8em;
            display: initial; }
        .panel.participa .step.scene-07 .thumb img {
          filter: brightness(0.6); }
        .panel.participa .step.scene-07 .thumb.thumb-01 {
          top: 52%;
          left: 50%;
          width: 300px; }
        .panel.participa .step.scene-07 .thumb.thumb-02 {
          top: 20%;
          left: 10%;
          width: 250px; }
        .panel.participa .step.scene-07 .thumb.thumb-03 {
          top: 5%;
          right: 10%;
          width: 200px; }
      .panel.participa .step.scene-08 {
        display: none; }
        .panel.participa .step.scene-08:before {
          background: url(../images/bg_01.jpg) no-repeat center center; }
        .panel.participa .step.scene-08 .year {
          color: #fff;
          top: 20%;
          left: 30%;
          right: initial;
          bottom: initial; }
        .panel.participa .step.scene-08 .text {
          right: 5%;
          bottom: 5%;
          width: 60%; }
        .panel.participa .step.scene-08 .thumb img {
          filter: brightness(0.6); }
        .panel.participa .step.scene-08 .thumb.thumb-01 {
          top: 20%;
          right: 15%;
          width: 300px; }
        .panel.participa .step.scene-08 .thumb.thumb-02 {
          top: 38%;
          left: 10%;
          width: 250px; }
      .panel.participa .step.scene-09 {
        display: none; }
        .panel.participa .step.scene-09:before {
          background: url(../images/bg_01.jpg) no-repeat center center; }
        .panel.participa .step.scene-09 .text {
          font-size: 1.3em;
          right: 10%;
          bottom: 40%;
          width: 40%; }
        .panel.participa .step.scene-09 .thumb img {
          filter: brightness(0.6); }
        .panel.participa .step.scene-09 .thumb.thumb-01 {
          top: 30%;
          left: 15%;
          width: 350px; }
      .panel.participa .step.scene-10 {
        display: none; }
        .panel.participa .step.scene-10:before {
          background: url(../images/bg_01.jpg) no-repeat center center; }
        .panel.participa .step.scene-10 .year {
          color: #fff;
          top: 20%;
          left: 35%;
          right: initial;
          bottom: initial; }
        .panel.participa .step.scene-10 .text {
          left: 15%;
          bottom: 15%;
          width: 50%; }
        .panel.participa .step.scene-10 .thumb img {
          filter: brightness(0.6); }
        .panel.participa .step.scene-10 .thumb.thumb-01 {
          top: 20%;
          left: 15%;
          width: 250px; }
        .panel.participa .step.scene-10 .thumb.thumb-02 {
          top: 30%;
          right: 15%;
          width: 350px; }
      .panel.participa .step.scene-11 {
        display: none; }
        .panel.participa .step.scene-11:before {
          background: url(../images/bg_01.jpg) no-repeat center center; }
        .panel.participa .step.scene-11 .text {
          top: 35%;
          right: 0;
          width: 50%; }
        .panel.participa .step.scene-11 .thumb img {
          filter: brightness(0.6); }
        .panel.participa .step.scene-11 .thumb.thumb-01 {
          top: 25%;
          left: 10%;
          width: 290px;
          max-width: 290px; }
      .panel.participa .step.scene-12 {
        display: none;
        background: url(../images/fondo-negro.jpg) no-repeat center center;
        background-size: 100% 100%; }
        .panel.participa .step.scene-12 .container {
          height: 100%;
          text-align: center;
          font-family: "GothamBook";
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;
          color: #fff; }
          .panel.participa .step.scene-12 .container p span {
            font-size: 1.1em; }
          .panel.participa .step.scene-12 .container .father {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            width: 100%; }
            .panel.participa .step.scene-12 .container .father .boxes {
              background: none;
              width: 50%;
              height: auto; }
              .panel.participa .step.scene-12 .container .father .boxes .result.one, .panel.participa .step.scene-12 .container .father .boxes .result.two, .panel.participa .step.scene-12 .container .father .boxes .result.three {
                display: none; }
              .panel.participa .step.scene-12 .container .father .boxes .result.one {
                color: #0080bc;
                display: block; }
              .panel.participa .step.scene-12 .container .father .boxes .result.two {
                color: #591e5f; }
              .panel.participa .step.scene-12 .container .father .boxes .result.three {
                color: #f79449; }
              .panel.participa .step.scene-12 .container .father .boxes .result img {
                width: 100%; }
              .panel.participa .step.scene-12 .container .father .boxes .result span:first-child {
                font-family: "GothamBook";
                font-size: 2em; }
              .panel.participa .step.scene-12 .container .father .boxes .result span:last-child {
                text-transform: uppercase; }
              .panel.participa .step.scene-12 .container .father .boxes.right {
                padding-left: 2em;
                text-align: left; }
      .panel.participa .step.scene-13 {
        display: none; }
        .panel.participa .step.scene-13 .container {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          height: 100%;
          text-align: center; }
          .panel.participa .step.scene-13 .container a {
            background: #000;
            padding: .7em 1.5em;
            color: #fff;
            text-transform: uppercase;
            font-family: "GothamMedium"; }
            .panel.participa .step.scene-13 .container a:hover {
              transform: scale(1.1); }
      .panel.participa .step.scene-14 {
        display: none; }
        .panel.participa .step.scene-14 .container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          text-align: center;
          font-size: 2em;
          font-family: "GothamBold"; }

#regist {
  background: #fff;
  -webkit-box-shadow: 0 0 20px 5px #B5B5B5;
  box-shadow: 0 0 20px 5px #B5B5B5; }
  #regist .container {
    padding: 2em 1em;
    color: #000;
    text-align: center;
    text-transform: uppercase; }
    #regist .container span {
      display: block;
      font-family: "GothamBold";
      text-align: left; }
    #regist .container form {
      padding: 0 1em; }
      #regist .container form input {
        width: 100%;
        box-sizing: border-box;
        padding: 1em 0;
        margin-bottom: .5em;
        border: none;
        border-bottom: 1px solid #000;
        font-family: "GothamBook";
        text-transform: initial; }
        #regist .container form input:focus {
          outline: none; }
        #regist .container form input#check1, #regist .container form input#mayoredad, #regist .container form input#bcondiciones {
          width: auto; }
      #regist .container form label.error {
        color: red;
        text-transform: initial;
        font-size: .8em;
        padding-bottom: .7em; }
    #regist .container .columna {
      display: inline-block;
      width: 47%; }
      #regist .container .columna:first-child {
        padding-right: 4%; }
      @media screen and (max-width: 860px) {
        #regist .container .columna {
          width: 100%;
          padding-right: 0; } }
      #regist .container .columna select {
        margin-bottom: 2.5rem; }
        #regist .container .columna select:last-child {
          margin-bottom: 0; }
    #regist .container select {
      width: 100%;
      margin: 1rem 0; }
    #regist .container .notify {
      display: none;
      border: 1px solid #000;
      padding: 1em;
      text-align: center;
      -webkit-box-shadow: 0 7px 15px 5px #B5B5B5;
      box-shadow: 0 7px 15px 5px #B5B5B5; }
      #regist .container .notify span {
        display: initial;
        font-family: "GothamBook";
        font-size: .84em; }
    #regist .container .condiciones {
      padding: 1em 0;
      font-size: .8em;
      text-align: left;
      margin: 1em 0 1.5em 0; }
      #regist .container .condiciones label {
        width: 33%;
        padding: 0 0.5rem; }
        #regist .container .condiciones label:first-child {
          padding: 0 0.5em 0 0; }
        @media screen and (max-width: 860px) {
          #regist .container .condiciones label {
            width: 100%;
            display: block;
            padding: 0; } }
    #regist .container a.enviar {
      background: #000;
      padding: 1em;
      color: #fff;
      border: 1px solid #000; }
      #regist .container a.enviar:hover {
        background: #fff;
        color: #000; }

.panel2 {
  background: #64a0d4;
  background: #47a3d1; }

.panel3 {
  background: #e14456;
  background: #f73656; }

.code {
  background: rgba(0, 0, 0, 0.2); }

.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4em;
  z-index: 10; }
  .pagination li .hover-text {
    font-size: .6em; }
  .pagination li:nth-child(5), .pagination li:nth-child(6) {
    display: none; }

.pagination a {
  display: block;
  height: 20px;
  margin-bottom: 5px;
  color: #6d6262;
  position: relative;
  padding: 4px; }

.pagination a.active:after {
  box-shadow: inset 0 0 0 5px; }

.pagination a .hover-text {
  position: absolute;
  right: 15px;
  top: 7px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
  color: #fff;
  text-shadow: 0 1px 7px #707070; }

.pagination a:hover .hover-text {
  opacity: 1; }

.pagination a:after {
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid;
  border-radius: 50%;
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 4px;
  bottom: 0; }

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8); }
  .mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out; }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1); }
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95; }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0; }
  .mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0; }

/* text-based popup styling */
.white-popup {
  position: relative;
  padding: 25px;
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  text-align: center; }

.panel5 .thumb img.fullHeight {
  height: auto;
  width: 100%; }

.panel5 .thumb img.fullWidth {
  /*width: auto;
  height: 100%;*/
  height: auto;
  width: 100%; }

.loader {
  margin: 10px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.5);
  border-right: 1.1em solid rgba(255, 255, 255, 0.5);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.5);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
#cargando {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0080bc;
  text-align: center;
  z-index: 10; }

#cargando .header {
  background: transparent; }

#cargando .contenedor {
  color: #fff;
  font-size: 2.3em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  max-width: 830px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#cargando .contenedor .uno {
  font-family: 'GothamBold'; }

@media (max-width: 600px) {
  #cargando .contenedor {
    font-size: 1.3em;
    width: 90%; } }

/*# sourceMappingURL=main.css.map */
