@media screen and (max-width: 940px) {
  .panel .box.left .producto img {
    width: 100%; }
  .panel.five .box.right .content {
    padding: 2em; } }
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    overflow: hidden; }

  .header {
    position: fixed;
    padding: 10px 0;
    width: 100%;
    z-index: 2; }

  .panel {
    overflow: hidden; }
    .panel.home .container img.logo-home {
      width: 100%; }
    .panel.home .container h3 {
      font-size: .9em; }
    .panel.home .container ul.edad li span:nth-child(1) {
      font-size: 1.5em; }
    .panel.home .container ul.edad li span:nth-child(2) {
      font-size: .6em; }
    .panel .box {
      width: 100%;
      height: 50%; }
      .panel .box .content {
        text-align: center; }
        .panel .box .content h1 {
          font-size: 3em; }
        .panel .box .content p {
          font-size: 1.2em; }
        .panel .box .content a.btn {
          box-sizing: border-box;
          margin: 0 auto; }
      .panel .box.left .brand {
        display: none; }
      .panel .box.left .producto img {
        width: 85%;
        padding-top: 2em; }
      .panel .box.right .content {
        padding: 0; }
    .panel.participa .step.login .container p {
      font-size: .9em;
      padding: 0; }
    .panel.participa .step.login .container img {
      width: 80%; }
    .panel.participa .step.login .container a.btn {
      width: 70%;
      font-size: .8em;
      box-sizing: border-box; }
    .panel.participa .step.scene-01 .container img {
      width: 80%; }
    .panel.participa .step.scene-01 .container p {
      font-size: 1.5em;
      padding: 0 1em; }
    .panel.participa .step.scene-02 span.year {
      top: initial;
      bottom: 30%; }
    .panel.participa .step.scene-02 .thumb.thumb-01 {
      top: 20%;
      right: 30%;
      width: 180px;
      height: 180px; }
    .panel.participa .step.scene-02 .thumb.thumb-02, .panel.participa .step.scene-02 .thumb.thumb-03, .panel.participa .step.scene-02 .thumb.thumb-04 {
      display: none; }
    .panel.participa .step.scene-03 span.text {
      top: 20%;
      bottom: initial;
      font-size: 1.5em; }
    .panel.participa .step.scene-03 .thumb.thumb-02, .panel.participa .step.scene-03 .thumb.thumb-03 {
      display: none; }
    .panel.participa .step.scene-03 .thumb.thumb-01 {
      top: 45%;
      left: 20%;
      width: 200px;
      height: 200px; }
    .panel.participa .step.scene-04 span.text {
      font-size: 1.2em;
      width: 90%;
      top: 20%; }
    .panel.participa .step.scene-04 .thumb.thumb-01, .panel.participa .step.scene-04 .thumb.thumb-03 {
      display: none; }
    .panel.participa .step.scene-05 span.year {
      bottom: initial;
      top: 30%; }
    .panel.participa .step.scene-05 .thumb.thumb-01, .panel.participa .step.scene-05 .thumb.thumb-02 {
      display: none; }
    .panel.participa .step.scene-05 .thumb.thumb-04 {
      top: 50%;
      left: 13%; }
    .panel.participa .step.scene-06 span.text {
      font-size: 1.2em;
      width: 83%;
      left: 5%;
      top: 20%; }
    .panel.participa .step.scene-06 .thumb.thumb-01, .panel.participa .step.scene-06 .thumb.thumb-02 {
      display: none; }
    .panel.participa .step.scene-06 .thumb.thumb-03 {
      top: initial;
      bottom: 20%; }
    .panel.participa .step.scene-07 span.text {
      font-size: 2em;
      width: 83%;
      left: 5%;
      top: 20%;
      bottom: initial; }
    .panel.participa .step.scene-07 .thumb.thumb-03, .panel.participa .step.scene-07 .thumb.thumb-01 {
      display: none; }
    .panel.participa .step.scene-07 .thumb.thumb-02 {
      top: 50%; }
    .panel.participa .step.scene-08 span.text {
      font-size: 1.5em;
      width: 85%; }
    .panel.participa .step.scene-08 .thumb.thumb-02 {
      display: none; }
    .panel.participa .step.scene-08 .thumb.thumb-01 {
      top: 15%; }
    .panel.participa .step.scene-09 span.text {
      font-size: 1.5em;
      width: 85%;
      bottom: initial;
      top: 20%; }
    .panel.participa .step.scene-09 .thumb.thumb-01 {
      width: 250px;
      height: 250px;
      top: initial;
      bottom: 10%; }
    .panel.participa .step.scene-10 span.year {
      top: initial;
      bottom: 5%; }
    .panel.participa .step.scene-10 span.text {
      font-size: 1.5em;
      width: 85%;
      bottom: initial;
      top: 14%;
      left: 10%; }
    .panel.participa .step.scene-10 .thumb.thumb-02 {
      display: none; }
    .panel.participa .step.scene-10 .thumb.thumb-01 {
      top: 37%; }
    .panel.participa .step.scene-11 span.text {
      font-size: 2em;
      width: 85%;
      bottom: initial;
      top: 30%;
      left: 23%; }
    .panel.participa .step.scene-11 .thumb.thumb-01 {
      top: initial;
      left: -50px;
      width: 300px;
      height: 300px;
      bottom: -50px; }
    .panel.participa .step.scene-12 .container p {
      font-size: 1em; }
    .panel.participa .step.scene-12 .container .father {
      padding: 2em 0; }
      .panel.participa .step.scene-12 .container .father .boxes .result span:first-child {
        font-size: 1.5em; }
      .panel.participa .step.scene-12 .container .father .boxes .result span:last-child {
        font-size: .5em; }
    .panel.participa .step.scene-13 .container img {
      width: 80%; }
    .panel.participa .step.scene-13 .container p {
      font-size: 2em; }
    .panel.participa .step.scene-13 .container a {
      font-size: 1.5em; }
    .panel.participa .step.scene-14 .container p {
      font-size: .5em; }

  .pagination {
    right: 10px; }
    .pagination li .hover-text {
      display: none; } }
@media screen and (max-width: 375px) {
  .panel .box.right h1 {
    font-size: 2.5em; }
  .panel .box.right p {
    font-size: .85em; }
  .panel .box.right a.btn {
    width: 75%;
    font-size: .7em; }
  .panel.five .box.left {
    background-position: center top; }
    .panel.five .box.left .biography {
      height: 100%; }
      .panel.five .box.left .biography h2 {
        margin: 2.3em 0 0; }
      .panel.five .box.left .biography p {
        font-size: .6em; }
  .panel.five .box .content {
    padding: 0 2em; }
    .panel.five .box .content a {
      width: 100% !important; }

  #regist .container {
    padding: 0; }
    #regist .container form input {
      padding: .5em 0; }
    #regist .container .notify {
      font-size: .8em;
      box-shadow: none; }
    #regist .container .condiciones {
      font-size: .7em; }

  .white-popup {
    padding: 25px 15px; } }
@media screen and (min-height: 1051px) and (max-height: 1600px) {
  .panel.home .container p {
    font-size: 1.5em;
    margin: 2em 0; }
  .panel.home .container h3 {
    font-size: 2em; } }
@media screen and (max-height: 800px) {
  .panel.home .container p {
    font-size: .85em;
    margin: 0; }
  .panel.home .container h3 {
    margin: 15px 0; } }
@media screen and (min-height: 668px) and (max-height: 800px) {
  .panel.home .container ul.edad {
    bottom: -50px; } }
@media screen and (max-height: 768px) {
  .panel.home .container img.logo-home {
    padding-bottom: .5em; }
  .panel.home .container p {
    font-size: .75em; }
  .panel.home .container h3 {
    font-size: .8em; } }
@media screen and (max-width: 414px) and (max-height: 736px) {
  .panel.home .container p {
    margin: 2em 0; }
  .panel.home .container ul.edad {
    bottom: 0; } }
@media screen and (max-height: 670px) {
  .panel.home .container p {
    font-size: .6em; } }
@media screen and (max-width: 1500px) and (max-height: 650px) {
  .header {
    height: auto; }
    .header img {
      width: 80px;
      padding: .5em 0; }

  .panel.home .container img.logo-home {
    padding: 2em 0 .5em 0; }
  .panel.home .container h3 {
    font-size: .9em; }
  .panel.home .container p {
    width: 100%;
    margin: 0 auto; }
  .panel.home .container ul.edad {
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -50px; } }
@media screen and (max-height: 535px) {
  .panel.home .container ul.edad {
    width: 50%; }
    .panel.home .container ul.edad li span:nth-child(1) {
      font-size: 1.2em; }
    .panel.home .container ul.edad li span:nth-child(2) {
      font-size: .8em; } }
@media screen and (max-width: 320px) and (max-height: 568px) {
  .header {
    height: 55px;
    padding: 0; }

  .panel.home .container img.logo-home {
    width: 80%;
    padding-top: 2em; }
  .panel.home .container p {
    width: 80%;
    font-size: .5em;
    margin: 2em auto; }
  .panel.home .container h3 {
    font-size: .8em; }
  .panel.home .container ul.edad {
    width: 100%;
    bottom: 0; }
    .panel.home .container ul.edad li span:nth-child(1) {
      font-size: .9em; }
    .panel.home .container ul.edad li span:nth-child(2) {
      font-size: .5em; } }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .header {
    height: auto;
    padding: 10px 0; }

  .panel.home ul.edad {
    bottom: 0; }
  .panel .box.left .brand {
    padding-top: 5em; }
  .panel .box.right .content {
    padding: 4em 5em; }
    .panel .box.right .content h1 {
      font-size: 3.4em; }
    .panel .box.right .content p {
      font-size: 1.5em; }
  .panel.participa .step.login .container p {
    padding-top: 2em; } }
@media screen and (min-width: 0\0) and (max-width: 800px) and (max-height: 600px) {
  /* IE9 and IE10 rule sets go here */
  .header {
    height: auto;
    padding: 5px 0; }

  .panel.home .container ul.edad {
    bottom: 0; }
  .panel .box.left img {
    width: 75%; }
  .panel .box.right .content {
    padding: 2em; }
    .panel .box.right .content h1 {
      margin: .7em 0 .5em;
      font-size: 3.5em; }
  .panel.five .box.right .content p {
    font-size: 1.5em; }
  .panel.five .box.right .content a.btn {
    margin-top: 2em; }
  .panel.participa .step.login .container p {
    padding-top: 2em;
    font-size: 1.5em; }
  .panel.participa .step.login .container a.btn {
    font-size: 1em;
    width: 200px;
    padding: 15px; } }
@media screen and (min-width: 0\0) and (max-height: 1200px) {
  .panel .box {
    position: relative; }
    .panel .box .center {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 100%;
      height: 500px; }
  .panel.five .box.right .content p {
    font-size: 1.3em; }
  .panel.participa .step.login .container {
    position: relative; }
    .panel.participa .step.login .container .center {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 100%;
      height: 400px; }
    .panel.participa .step.login .container p {
      padding: 0 1em;
      width: 100%; } }
@media screen and (max-height: 675px) {
  .panel.home .container ul.edad {
    position: absolute;
    width: 72%;
    bottom: 0; } }
@media screen and (max-width: 768px) {
  .panel.home .container ul.edad {
    position: absolute;
    width: 100%;
    bottom: 0; }

  .panel.home .container ul.edad li {
    width: 27.3%;
    float: left;
    transition: all ease .3s;
    padding: 3%; }

  .waypoint-1 h3 {
    padding: 2rem 1rem; }

  .panel.participa .step.login .container a.btn {
    width: 90%; }

  .panel.participa .step .thumb {
    transform: translate(-50%, 0);
    left: 50% !important;
    top: 50% !important;
    /*width: 70%!important;
    height: auto!important;*/
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

  .panel.participa .step.scene-11 .thumb.thumb-01 {
    bottom: auto !important;
    top: 43% !important; }

  .panel.participa .step.scene-08 .thumb.thumb-01 {
    top: 15% !important; }

  /*.panel5 .thumb img.fullHeight {
      width: 100%;
  }*/
  .panel.participa .step.scene-06 .thumb.thumb-02 {
    display: inline-block; }

  .panel.participa .step.scene-02 .thumb.thumb-01 {
    top: 20% !important; }

  .panel.participa .step.scene-05 .thumb.thumb-04 {
    display: none !important; }

  .mfp-close {
    top: 0;
    right: 0; }

  .panel.participa .step.scene-04 .thumb.thumb-02 {
    top: 35% !important; }

  .panel.participa .step.scene-11 span.text {
    top: 20%; } }
/*.panel.participa .thumb {
    width: auto!important;
    height: auto;
}*/

/*# sourceMappingURL=queries.css.map */
