@import 'font';
// @import 'retina';

//MIXIN
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
//VARS
$color1: #c5a366;
$color2: #d7b47a;

$cat1: #0080bc;
$cat2: #591e5f;
$cat3: #f79449;

$negro: #000;
$blanco: #fff;
$rosa: #f3a6ae;
$gris: #c6c7c9;

$light: 'GothamLight';
$medium: 'GothamMedium';
$bold:'GothamBold';
$book:'GothamBook';


body {
	// background: url(../images/fondo.jpg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $blanco;
	font-family: $book;
}
a {
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

// RESET
ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

.container {
	width: 100%;
	max-width: 1024px;
	// padding: 0 10px;
	margin: 0 auto;
	box-sizing: border-box;
}


/****** Main ********/


.header {
	position: fixed;
	width: 100%;
	height:70px;
	background: #000;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	  display: none;
}
.panel {
	overflow: hidden;
	h1 {
		font-size: 4em;
		font-family: $bold;
		margin: .3em 0;
	}
	p {
		line-height: 140%;
	}
	@include clearfix();
	.box {
		width: 50%;
		height: 100%;
		float: left;
		text-transform: uppercase;
		&.left {
			background: #000;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
			flex-direction: column;
			-webkit-justify-content: center;
			justify-content: center;

			// align-items: center;
			.brand {
				padding: 0 0 4em 0;
				text-align: center;
			}
		}
		&.right {
			// background: $cat1;
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-align-items: center;
			align-items: center;
			.content {
				box-sizing: border-box;
				padding: 2em 5em;
				a {
					span {
						font-family: $bold;
					}
				}
			}
		}
	}
	.content {
		width: 100%;
		p {
			font-size: 2em;
			line-height: 130%;
			span {
				font-family: $bold;
			}
		}
	}
	a.btn {
		display: block;
		background: $blanco;
		color: $negro;
		padding: 20px;
		width: 90%;
		max-width: 450px;
		text-align: center;
		margin: 5em auto 0;
		-webkit-box-shadow: 0 10px 15px 1px rgba(0,0,0,.5);
		box-shadow: 0 10px 15px 1px rgba(0,0,0,.5);
		border-radius: 3px;
		&:hover {
			opacity: .9;
			transform: scaleX(1.03) scaleY(1.03);
		}
	}
	&.home {
		background:#000;
		.container {
			text-align: center;
			text-transform: uppercase;
			font-size: 1.8em;
			height: 100%;
			position: relative;
			img {
				&.logo-home {
					padding: 3em 0 1em 0;
				}
			}
			h3 {
				color: $color1;
			}
			ul {
				&.edad {
					position: absolute;
					width: 100%;
					bottom: 0;
					@include clearfix();
					li {
						width: 33.3%;
						float: left;
						transition: all ease .3s;
						a {
							display: block;
							transition: initial;
						}
						span {
							display: block;
							img {
								width: 100%;
								display: block;
							}
							&:nth-child(1) {
								font-size: 2.2em;
							}
							&:nth-child(2) {
								font-family: $medium;
								font-size: 1.2em;
							}
						}
						&:nth-child(1) {
							span {
								color: $cat1;
							}
						}
						&:nth-child(2) {
							span {
								color: $cat2;
							}
						}
						&:nth-child(3) {
							span {
								color: $cat3;
							}
						}
						&:hover {
							opacity: .7;
						}
					}
				}
			}
		}
	}
	&.two {
		.box {
			&.right {
				background: $cat1;
			}
		}
	}
	&.three {
		.box {
			&.right {
				background: $cat2;
			}
		}
	}
	&.four {
		.box {
			&.right {
				background: $cat3;
			}
		}
	}
	&.five {
		.box {
			&.left {
				background: url(../images/Florenciabonelli.jpg) no-repeat center center $negro;
				background-size: cover;
				position: relative;
				.biography {
					position: absolute;
					bottom: 0;
					width: 100%;
					background: rgba(0,0,0,.5);
					box-sizing: border-box;
					padding: .3em 2em;
					text-transform: initial;
					span {
						display: block;
						border-bottom: 1px solid $color2;
						padding-bottom: .3em;
					}
					p {
						text-align: justify;
						font-size: .9em;
						line-height: 120%;
					}
				}
			}
			&.right {
				background: $color2;
				.content {
					text-transform: initial;
					a {
						width: 60%;
						text-transform: uppercase;
					}
				}
			}
		}
	}
	&.participa {
		font-size: 18px;
		.scene {
			&:before {
				content: "";
				left: 0;
				right: 0;
				z-index: -1;
				display: block;
				height: 100%;
				// background: url(../images/bg_01.jpg) no-repeat center center;
				background-size: cover;
				-webkit-filter: blur(10px);
				-moz-filter: blur(10px);
				-o-filter: blur(10px);
				-ms-filter: blur(10px);
				filter: blur(10px);
			}
		}
		.step {
			color: $negro;
			height: 100%;
			position: relative;
			overflow: hidden;
			
			.text {
				position: absolute;
				color: $blanco;
				font-family: $light;
				text-shadow: 0 3px 8px #454545;
				z-index: 1;
			}
			&.login,
			&.scene-01 {
				display: none;
				height: 100%;
				.container {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					color: $negro;
					text-align: center;
					p {
						// font-size: 2.3em;
						padding: 0 2em;
						font-family: $bold;
						box-sizing: border-box;
						font-size: 0.8em;
					}
					a {
						&.btn {
							background: $negro;
							color: $blanco;
							text-transform: uppercase;
							width: 350px;
							// font-size: 2em;
							font-size: .8em;
							padding: 30px 20px;
							margin: 1.7em auto;
						}
					}
				}
			}
			.thumb {
				width: 100%;
				height: auto;
				font-size: 0;
				max-width: 250px;
    			max-height: 250px;

				position: absolute;
				// top: 0;
				// z-index: -1;
				border: 5px solid #fff;
				border-radius: 3px;
				-webkit-box-shadow: 0 0 30px 1px rgba(0,0,0,.8);
				box-shadow: 0 0 30px 1px rgba(0,0,0,.8);
				overflow: hidden;

				span {
					// background: url(../images/marco.png) no-repeat center center;
					// background-size: 100% 100%;
					display: block;
					border-radius: 3px;
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 1;
				}
				img {
					border-radius: 3px;
				}
			}
			span {
				display: block;
				&.year {
					@include center;
					width: 190px;
					height: 65px;
					font-size: 3em;
				}
				
			}
			&.login {
				display: block;
				// display: none;
			}
			&.scene-01 {
				// display: block;
				.container {
					p {
						font-family: $book;
						// font-size: 3.3em;
					}
				}
			}
			&.scene-02 {
				display: none;
				// position: relative;
				-webkit-box-shadow:inset 0 0 100px 15px rgba(0,0,0,.5);
				box-shadow:inset 0 0 100px 15px rgba(0,0,0,.5);
				background: rgba(0,0,0,.1);
				// background: url(../images/blur.png);
				.thumb {
					// width: 100px;
					// height: 100px;
					// position: absolute;
					// z-index: -1;
					// -webkit-box-shadow: 0 0 30px 1px rgba(0,0,0,.8);
					// box-shadow: 0 0 30px 1px rgba(0,0,0,.8);
					span {
						// position: absolute;
						// width: 100%;
						// height: 100%;
						-webkit-box-shadow:inset 0 0 20px 5px rgba(0,0,0,.8);
						box-shadow:inset 0 0 20px 5px rgba(0,0,0,.8);
					}
					img {
						// -webkit-filter: blur(2px);
						// -moz-filter: blur(2px);
						// -o-filter: blur(2px);
						// -ms-filter: blur(2px);
						// filter: blur(2px);
					}
					&.thumb-01 {
						top: 18%;
						right: 40%;
						width: 160px;
					}
					&.thumb-02 {
						top: 23%;
						right: 20%;
						width: 140px;
						img {
							/*-webkit-filter: blur(2px);
							-moz-filter: blur(2px);
							-o-filter: blur(2px);
							-ms-filter: blur(2px);
							filter: blur(2px);*/
						}
					}
					&.thumb-03 {
						top: 65%;
						left: 40%;
						width: 140px;
					}
					&.thumb-04 {
						top: 60%;
						left: 20%;
						width: 150px;
						img {
							/*-webkit-filter: blur(2px);
							-moz-filter: blur(2px);
							-o-filter: blur(2px);
							-ms-filter: blur(2px);
							filter: blur(2px);*/
						}
					}
				}
			}
			&.scene-03 {
				display: none;
				&:before {
					// content: "";
					// left: 0;
					// right: 0;
					// z-index: -1;
					// display: block;
					// height: 100%;
					background: url(../images/bg_01.jpg) no-repeat center center;
					// background-size: cover;
					// -webkit-filter: blur(10px);
					// -moz-filter: blur(10px);
					// -o-filter: blur(10px);
					// -ms-filter: blur(10px);
					// filter: blur(10px);
				}
				.text {
					// font-size: 3em;
					left: 5%;
					bottom: 10%;
				}
				.thumb {
					span {
						// -webkit-box-shadow:
						// 	inset 0 0 7px 7px #fff,
						// 	inset 0 0 2px 10px #000;
						// box-shadow:
						// 	inset 0 0 7px 7px #fff, 
						// 	inset 0 0 2px 10px #000;
					}
					img {
						filter: brightness(0.6);
					}
					&.thumb-01 {
						top: 56%;
						left: 50%;
						width: 170px;
					}
					&.thumb-02 {
						top: 20%;
						left: 10%;
						width: 250px;
					}
					&.thumb-03 {
						top: 5%;
						right: 10%;
						width: 200px;
					}
				}
			}
			&.scene-04 {
				// display: block;
				display: none;
				&:before {
					background: url(../images/bg_01.jpg) no-repeat center center;
				}
				.text {
					// font-size: 2.5em;
					top: 12%;
					right: 5%;
					width: 42%;
				}
				.thumb {
					// span {
					// 	-webkit-box-shadow:
					// 		inset 0 0 4px 8px #fff,
					// 		inset 0 0 2px 10px #000;
					// 	box-shadow:
					// 		inset 0 0 4px 8px #fff, 
					// 		inset 0 0 2px 10px #000;
					// }
					img {
						filter: brightness(0.6);
					}
					&.thumb-01 {
						top: 15%;
						left: 20%;
						width: 220px;
					}
					&.thumb-02 {
						top: 35%;
						right: 10%;
						width: 300px;
					}
					&.thumb-03 {
						top: 57%;
						left: 20%;
						width: 250px;
					}
				}
			}
			&.scene-05 {
				display: none;
				// position: relative;
				-webkit-box-shadow:inset 0 0 100px 15px rgba(0,0,0,.5);
				box-shadow:inset 0 0 100px 15px rgba(0,0,0,.5);
				background: rgba(0,0,0,.1);
				// background: url(../images/blur.png);
				.thumb {
					// width: 100px;
					// height: 100px;
					// position: absolute;
					// z-index: -1;
					// -webkit-box-shadow: 0 0 30px 1px rgba(0,0,0,.8);
					// box-shadow: 0 0 30px 1px rgba(0,0,0,.8);
					span {
						// position: absolute;
						// width: 100%;
						// height: 100%;
						
						// -webkit-box-shadow:inset 0 0 20px 5px rgba(0,0,0,.8);
						// box-shadow:inset 0 0 20px 5px rgba(0,0,0,.8);
					}
					img {
						/*-webkit-filter: blur(2px);
						-moz-filter: blur(2px);
						-o-filter: blur(2px);
						-ms-filter: blur(2px);
						filter: blur(2px);*/
					}
					&.thumb-01 {
						top: 11%;
						right: 40%;
						width: 140px;
					}
					&.thumb-02 {
						top: 18%;
						right: 28%;
						width: 100px;
					}
					&.thumb-03 {
						top: 65%;
						left: 40%;
						width: 150px;
					}
					&.thumb-04 {
						top: 60%;
						left: 25%;
						width: 110px;
					}
				}
			}
			&.scene-06 {
				display: none;
				&:before {
					background: url(../images/bg_01.jpg) no-repeat center center;
				}
				.text {
					font-size: .9em;
					// left: 40%;
					right: 10%;
					top: 13%;
					width: 45%;
				}
				.thumb {
					img {
						filter: brightness(0.6);
					}
					&.thumb-01 {
						top: 65%;
						left: 50%;
						width: 300px;
					}
					&.thumb-02 {
						top: 25%;
						left: 10%;
						width: 250px;
					}
					&.thumb-03 {
						display: none;
						top: 5%;
						right: 10%;
						width: 200px;
					}
				}
			}
			&.scene-07 {
				display: none;
				&:before {
					background: url(../images/bg_01.jpg) no-repeat center center;
				}
				.text {
					// font-size: 3em;
					left: 15%;
					bottom: 20%;
					span {
						font-size: .8em;
						display: initial;
					}
				}
				.thumb {
					img {
						filter: brightness(0.6);
					}
					&.thumb-01 {
						top: 52%;
						left: 50%;
						width: 300px;
					}
					&.thumb-02 {
						top: 20%;
						left: 10%;
						width: 250px;
					}
					&.thumb-03 {
						top: 5%;
						right: 10%;
						width: 200px;
					}
				}
			}
			&.scene-08 {
				display: none;
				&:before {
					background: url(../images/bg_01.jpg) no-repeat center center;
				}
				.year {
					color: $blanco;
					top: 20%;
					left: 30%;
					right: initial;
					bottom: initial;
				}
				.text {
					// font-size: 2.6em;
					right: 5%;
					bottom: 5%;
					width: 60%;
				}
				.thumb {
					img {
						filter: brightness(0.6);
					}
					&.thumb-01 {
						top: 20%;
						right: 15%;
						width: 300px;
					}
					&.thumb-02 {
						top: 38%;
						left: 10%;
						width: 250px;
					}
				}
			}
			&.scene-09 {
				display: none;
				&:before {
					background: url(../images/bg_01.jpg) no-repeat center center;
				}
				.text {
					font-size: 1.3em;
					right: 10%;
					bottom: 40%;
					width: 40%;
				}
				.thumb {
					img {
						filter: brightness(0.6);
					}
					&.thumb-01 {
						top: 30%;
						left: 15%;
						width: 350px;
					}
				}
			}
			&.scene-10 {
				display: none;
				&:before {
					background: url(../images/bg_01.jpg) no-repeat center center;
				}
				.year {
					color: $blanco;
					top: 20%;
					left: 35%;
					right: initial;
					bottom: initial;
				}
				.text {
					// font-size: 2.6em;
					left: 15%;
					bottom: 15%;
					width: 50%;
				}
				.thumb {
					img {
						filter: brightness(0.6);
					}
					&.thumb-01 {
						top: 20%;
						left: 15%;
						width: 250px;
					}
					&.thumb-02 {
						top: 30%;
						right: 15%;
						width: 350px;
					}
				}
			}
			&.scene-11 {
				display: none;
				&:before {
					background: url(../images/bg_01.jpg) no-repeat center center;
				}
				.text {
					// font-size: 4em;
					top: 35%;
					right: 0;
					width: 50%;
				}
				.thumb {
					img {
						filter: brightness(0.6);
					}
					&.thumb-01 {
						top: 25%;
						left: 10%;
						width: 290px;
						max-width: 290px;
					}
				}
			}
			&.scene-12 {
				display: none;
				background: url(../images/fondo-negro.jpg) no-repeat center center;
				background-size: 100% 100%;
				.container {
					height: 100%;
					text-align: center;
					font-family: $book;
					display: -webkit-flex;
					display: flex;
					-webkit-flex-direction: column;
					flex-direction: column;
					-webkit-justify-content: center;
					justify-content: center;
					-webkit-align-items: center;
					align-items: center;
					color: $blanco;
					p {
						// font-size: 2em;
						span {
							font-size: 1.1em;
						}
					}
					.father {
						display: -webkit-flex;
						display: flex;
						-webkit-align-items: center;
						align-items: center;
						width: 100%;
						.boxes {
							background: none;
							width: 50%;
							height: auto;
							.result {
								// font-family: $medium;
								// font-size: 2.2em;
								&.one,
								&.two, 
								&.three {
									display: none;
								}
								&.one {
									color: $cat1;
									display: block;
								}
								&.two {
									color: $cat2;
								}
								&.three {
									color: $cat3;
								}
								img {
									width: 100%;
								}
								span {
									&:first-child {
										font-family: $book;
										font-size: 2em;
									}
									&:last-child {
										text-transform: uppercase;
									}
								}
							}
							&.right {
								padding-left: 2em;
								text-align: left;
							}
						}
					}
					.hash {
						// font-size: 2em;
					}
				}
			}
			&.scene-13 {
				display: none;
				.container {
					display: flex;
					justify-content: center;
					flex-direction: column;
					align-items: center;
					height: 100%;
					text-align: center;
					p {
						// font-size: 2.5em;
					}
					a {
						background: $negro;
						padding: .7em 1.5em;
						color: $blanco;
						// font-size: 1.8em;
						text-transform: uppercase;
						font-family: $medium;
						&:hover {
							transform: scale(1.1);
						}
					}
				}
			}
			&.scene-14 {
				display: none;
				.container {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					text-align: center;
					font-size: 2em;
					font-family: $bold;
				}
			}



		}
	}
}

#regist {
	background: $blanco;
	-webkit-box-shadow: 0 0 20px 5px #B5B5B5;
	box-shadow: 0 0 20px 5px #B5B5B5;
	.container {
		padding: 2em 1em;
		color: $negro;
		text-align: center;
		text-transform: uppercase;
		span {
			display: block;
			font-family: $bold;
			text-align: left;
		}
		form {
			padding: 0 1em;
			input {
				width: 100%;
				box-sizing: border-box;
				padding: 1em 0;
				margin-bottom: .5em;
				border: none;
				border-bottom: 1px solid #000;
				font-family: $book;
				text-transform: initial;
				&:focus {
					outline: none;
				}
				&#check1,
				&#mayoredad,
				&#bcondiciones {
					width: auto;
				}
			}
			label.error {
				color: red;
				text-transform: initial;
				font-size: .8em;
				padding-bottom: .7em;
				// display: block;
			}
		}
		.columna {
			display: inline-block;
			width: 47%;
			&:first-child {
			    padding-right: 4%;
			}
			@media screen and (max-width:860px){
				width: 100%;
				padding-right: 0;
			}
			select {
				margin-bottom: 2.5rem;
				&:last-child {
					margin-bottom: 0;	
				}
			}

		}
		select {
			width: 100%;
    		margin: 1rem 0;
		}
		.notify {
			display: none;
			border: 1px solid $negro;
			padding: 1em;
			text-align: center;
			-webkit-box-shadow: 0 7px 15px 5px #B5B5B5;
			box-shadow: 0 7px 15px 5px #B5B5B5;
			span {
				display: initial;
				font-family: $book;
				font-size: .84em;
			}
		}
		.condiciones {
			padding: 1em 0;
			font-size: .8em;
			text-align: left;
			margin: 1em 0 1.5em 0;
			label {
				width: 33%;
    			padding: 0 0.5rem;
    			&:first-child {
    			    padding: 0 0.5em 0 0;
    			}
    			@media screen and (max-width:860px){
    				width: 100%;
    				display: block;
    				padding: 0;
    			}
			}

		}
		a.enviar {
			background: $negro;
			padding: 1em;
			color: $blanco;
			border: 1px solid $negro;
			&:hover {
				background: $blanco;
				color: $negro;
			}
		}
	}
}






.panel2 {
	background:#64a0d4;
	background:hsl(200,60%,55%);
}
.panel3 {
	background:#e14456;
	background:hsl(350,92%,59%);
}
.code {
	background:rgba(0,0,0,0.2);
}


.pagination {
	position:fixed;
	right:20px;
	top: 50%;
  	transform: translateY(-50%);

	font-size:1.4em;
	z-index: 10;
	li {
		.hover-text {
			font-size: .6em;
		}
		&:nth-child(5),
		&:nth-child(6) {
			display: none;
		}
	}
}
.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color: #6d6262;
	position:relative;
	padding:4px;
}
.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
	color: $blanco;
	text-shadow: 0 1px 7px #707070;
}
.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}

// LIGHTBOX
.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      // opacity: 0.8;
      opacity: 0.95;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

/* text-based popup styling */
.white-popup {
  position: relative;
  // background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}


.panel5 .thumb img.fullHeight {
	height: auto;
	width: 100%;
}
.panel5 .thumb img.fullWidth {
	/*width: auto;
	height: 100%;*/
	height: auto;
	width: 100%;
}
.loader {
  margin: 10px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.5);
  border-right: 1.1em solid rgba(255, 255, 255, 0.5);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.5);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#cargando {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #0080bc;
	text-align: center;
	z-index: 10;
}
#cargando .header {
	background: transparent;
}
#cargando .contenedor {
	color: #fff;
	font-size: 2.3em;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	max-width: 830px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#cargando .contenedor .uno {
	font-family: 'GothamBold';
}
@media (max-width: 600px) {
	#cargando .contenedor {
		font-size: 1.3em;
		width: 90%;
	}
}

































