//COLOR
$hover : #632a79;
$blanco: #ffffff;
//FONTS

//MIXINS
@mixin ulcero {
	padding: 0;
	margin: 0;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//$width-name: max-device-width;
$width-name: max-width;
$height-max: max-height;
$height-min: min-height;
$tablet: 768px;
$iPhone6P: 414px;
$iPhone6PH: 736px;
$iPhone6: 375px;
$iPhone5: 320px;
$iPhone5-height: 568px;
$height-1600: 1600px;
$height-1050: 1050px;
$height-800: 800px;
$height-768: 768px;
$height-670: 670px;
$height-650: 650px;
$height-535: 535px;

$width-container: 1500px;

$iPhon6-H: 667px;

@media screen and (max-width: 940px) {
	.panel {
		.box {
			&.left {
				.producto {
					img {
						width: 100%;
					}
				}
			}
		}
		&.five {
			.box {
				&.right {
					.content {
						padding: 2em;
					}
				}
			}
		}
	}
}

@media screen and ($width-name : $tablet) {

	.container {
		width: 90%;
		overflow: hidden;
	}
	
	.header {
		// display: none;
		position: fixed;
		padding: 10px 0;
		width: 100%;
		z-index: 2;
	}

	.panel {
		overflow: hidden;
		&.home {
			.container {
				img {
					&.logo-home {
						width: 100%;
					}
				}
				h3 {
					font-size: .9em;
				}
				ul {
					&.edad {
						li {
							span {
								&:nth-child(1){
									font-size: 1.5em;
								}
								&:nth-child(2){
									font-size: .6em;
								}
							}
						}
					}
				}
			}
		}
		h1 {
			// font-size: 3em;
		}
		.box {
			width: 100%;
			height: 50%;
			.content {
				text-align: center;
				h1 {
					font-size: 3em;
				}
				p {
					font-size: 1.2em;
				}
				a {
					&.btn {
						box-sizing: border-box;
						margin: 0 auto;
					}
				}
			}
			&.left {
				.brand {
					display: none;
				}
				.producto {
					img {
						width: 85%;
						padding-top: 2em;
					}
				}
			}
			&.right {
				.content {
					padding: 0;
				}
			}
		}
		&.participa {
			.step {
				&.login {
					.container {
						p {
							font-size: .9em;
							padding: 0;
						}
						img {
							width: 80%;
						}
						a {
							&.btn {
								width: 70%;
								font-size: .8em;
								box-sizing: border-box;
							}
						}
					}
				}
				&.scene-01 {
					.container {
						img {
							width: 80%;
						}
						p {
							font-size: 1.5em;
							padding: 0 1em;
						}
					}
				}
				&.scene-02 {
					span {
						&.year {
							top: initial;
							bottom: 30%;
						}
					}
					.thumb {
						&.thumb-01 {
							top: 20%;
							right: 30%;
							width: 180px;
							height: 180px;
						}
						&.thumb-02,
						&.thumb-03,
						&.thumb-04 {
							display: none;
						}
					}
				}
				&.scene-03 {
					span {
						&.text {
							top: 20%;
							bottom: initial;
							font-size: 1.5em;
						}
					}
					.thumb {
						&.thumb-02,
						&.thumb-03 {
							display: none;
						}
						&.thumb-01 {
							top: 45%;
							left: 20%;
							width: 200px;
							height: 200px;
						}
					}
				}
				&.scene-04 {
					span {
						&.text {
							font-size: 1.2em;
							width: 90%;
							top: 20%;
						}
					}
					.thumb {
						&.thumb-01,
						&.thumb-03 {
							display: none;
						}
						&.thumb-02 {

						}
					}
				}
				&.scene-05 {
					span {
						&.year {
							bottom: initial;
							top: 30%;
						}
					}
					.thumb {
						&.thumb-01,
						&.thumb-02 {
							display: none;
						}
						&.thumb-04 {
							top: 50%;
							left: 13%;
						}
					}
				}
				&.scene-06 {
					span {
						&.text {
							font-size: 1.2em;
							width: 83%;
							left: 5%;
							top: 20%;
						}
					}
					.thumb {
						&.thumb-01,
						&.thumb-02 {
							display: none;
						}
						&.thumb-03 {
							top: initial;
							bottom: 20%;
						}
					}
				}
				&.scene-07 {
					span {
						&.text {
							font-size: 2em;
							width: 83%;
							left: 5%;
							top: 20%;
							bottom: initial;
						}
					}
					.thumb {
						&.thumb-03,
						&.thumb-01 {
							display: none;
						}
						&.thumb-02 {
							top: 50%;
						}
					}
				}
				&.scene-08 {
					span {
						&.text {
							font-size: 1.5em;
							width: 85%;
						}
					}
					.thumb {
						&.thumb-02 {
							display: none;
						}
						&.thumb-01 {
							top: 15%;
						}
					}
				}
				&.scene-09 {
					span {
						&.text {
							font-size: 1.5em;
							width: 85%;
							bottom: initial;
							top: 20%;
						}
					}
					.thumb {
						&.thumb-01 {
							width: 250px;
							height: 250px;
							top: initial;
							bottom: 10%;
						}
					}
				}
				&.scene-10 {
					span {
						&.year {
							top: initial;
							bottom: 5%;
						}
						&.text {
							font-size: 1.5em;
							width: 85%;
							bottom: initial;
							top: 14%;
							left: 10%;
						}
					}
					.thumb {
						&.thumb-02 {
							display: none;
						}
						&.thumb-01 {
							top: 37%;
						}
					}
				}
				&.scene-11 {
					span {
						&.text {
							font-size: 2em;
							width: 85%;
							bottom: initial;
							top: 30%;
							left: 23%;
						}
					}
					.thumb {
						&.thumb-01 {
							top: initial;
							left: -50px;
							width: 300px;
							height: 300px;
							bottom: -50px;
						}
					}
				}
				&.scene-12 {
					.container {
						p {
							font-size: 1em;
						}
						.father {
							padding: 2em 0;
							.boxes {
								.result {
									span {
										&:first-child {
											font-size: 1.5em;
										}
										&:last-child {
											font-size: .5em;
										}
									}
								}
							}
						}
					}
				}
				&.scene-13 {
					.container {
						img {
							width: 80%;
						}
						p {
							font-size: 2em;
						}
						a {
							font-size: 1.5em;
						}
					}
				}
				&.scene-14 {
					.container {
						p {
							font-size: .5em;
						}
					}
				}
			}
		}
	}

	.pagination {
		right: 10px;
		li {
			.hover-text {
				display: none;
			}
		}
	}

	
}

@media screen and ($width-name : $iPhone6) {
	.panel {
		.box {
			&.right {
				h1 {
					font-size: 2.5em;
				}
				p {
					font-size: .85em;
				}
				a {
					&.btn {
						width: 75%;
						font-size: .7em;
					}
				}
			}
		}
		&.five {
			.box {
				&.left {
					background-position: center top;
					.biography {
						height: 100%;
						h2 {
							margin: 2.3em 0 0;
						}
						p {
							// text-align: left;
							font-size: .6em;
						}
					}
				}
				.content {
					padding: 0 2em;
					a {
						width: 100% !important;
					}
				}
			}
		}
	}
	#regist {
		.container {
			padding: 0;
			form {
				input {
					padding: .5em 0;
				}
			}
			.notify {
				font-size: .8em;
				box-shadow: none;
			}
			.condiciones {
				font-size: .7em;
			}
		}
	}

	.white-popup {
		padding: 25px 15px;
	}
}



@media screen and ($height-min : $height-1050 + 1) and ($height-max : $height-1600) {
	.panel {
		&.home {
			.container {
				img {
					&.logo-home {

					}
				}
				p {
					font-size: 1.5em;
					margin: 2em 0;
				}
				h3 {
					font-size: 2em;
					// margin: 1em 0;
				}
			}
		}
	}
}

@media screen and ($height-max : $height-800) {

	.panel {
		&.home {
			.container {
				p {
					font-size: .85em;
					margin: 0;
				}
				h3 {
					margin: 15px 0;
				}
			}
		}
	}
}

@media screen and ($height-min : $iPhon6-H + 1) and ($height-max : $height-800) {
	.panel {
		&.home {
			.container {
				ul {
					&.edad {
						bottom: -50px;
					}
				}
			}
		}
	}
}

@media screen and ($height-max : $height-768) {
	.panel {
		&.home {
			.container {
				img {
					&.logo-home {
						padding-bottom: .5em;
					}
				}
				p {
					font-size: .75em;
				}
				h3 {
					// margin: 0;
					font-size: .8em;
				}
			}
		}
	}
}

@media screen and ($width-name : $iPhone6P) and ($height-max : $iPhone6PH) {

	.panel {
		&.home {
			.container {
				p {
					margin: 2em 0;
				}
				ul {
					&.edad {
						bottom: 0;
					}
				}
			}
		}
	}

}

@media screen and ($height-max : $height-670) {

	.panel {
		&.home {
			.container {
				p {
					font-size: .6em;
				}
			}
		}
	}
}

@media screen and ($width-name : $width-container) and ($height-max : $height-650) {
	
	.header {
		height: auto;
		img {
			width: 80px;
			padding: .5em 0;
		}
	}
	.panel {
		&.home {
			.container {
				img {
					&.logo-home {
						padding: 2em 0 .5em 0;
						// padding: 5em 0 .5em 0;
						// width: 20%;
						// width: 100%;
					}
				}
				h3 {
					font-size: .9em;
				}
				p {
					// width: 60%;
					width: 100%;
					margin: 0 auto;
				}
				ul {
					&.edad {
						// width: 65%;
						width: 100%;
						right: 0;
						left: 0;
						margin: auto;

						bottom: -50px;
					}
				}
			}
		}
	}
}

@media screen and ($height-max : $height-535) {

	.panel {
		&.home {
			.container {
				ul {
					&.edad {
						width: 50%;
						li {
							span {
								&:nth-child(1) {
									font-size: 1.2em;
								}
								&:nth-child(2) {
									font-size: .8em;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and ($width-name : $iPhone5) and ($height-max : $iPhone5-height) {
	.header {
		height: 55px;
		padding: 0;
	}
	.panel {
		&.home {
			.container {
				img {
					&.logo-home {
						width: 80%;
						padding-top: 2em;
					}
				}
				p {
					width: 80%;
					font-size: .5em;
					margin: 2em auto;
				}
				h3 {
					// margin: .2em 0;
					font-size: .8em;
				}
				ul {
					&.edad {
						width: 100%;
						bottom: 0;
						li {
							span {
								&:nth-child(1) {
									font-size: .9em;
								}
								&:nth-child(2) {
									font-size: .5em;
								}
							}
						}
					}
				}
			}
		}
	}
}



@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

	.header {
		height: auto;
		padding: 10px 0;
	}


	.panel {
		&.home {
			ul {
				&.edad {
					bottom: 0;
				}
			}
		}
		.box {
			&.left {
				.brand {
					padding-top: 5em;
				}
			}
			&.right {
				.content {
					padding: 4em 5em;
					h1 {
						font-size: 3.4em;
					}
					p {
						font-size: 1.5em;
					}
				}
			}
		}
		&.participa {
			.step {
				&.login {
					.container {
						p {
							padding-top: 2em;
						}
					}
				}
			}
		}
	}

}



// @media screen and (max-width: 800px), screen\0 {
// 	.panel {
// 		&.two {
// 			.box {
// 				&.right {
// 					background: red;
// 				}
// 			}
// 		}
// 	}
// }


@media screen and (min-width:0\0) and (max-width: 800px) and (max-height: 600px){
    /* IE9 and IE10 rule sets go here */
    .header {
    	height: auto;
    	padding: 5px 0;
    }
    .panel {
    	&.home {
    		.container {
    			ul {
    				&.edad {
    					bottom: 0;
    				}
    			}
    		}
    	}
    	.box {
    		&.left {
    			img {
    				width: 75%;
    			}
    		}
    		&.right {
    			.content {
    				h1 {
    					margin: .7em 0 .5em;
    					font-size: 3.5em;
    				}
    				padding: 2em;
    			}
    		}
    	}
		&.two {
			.box {
				&.right {
					// background: red;
				}
			}
		}
		&.five {
			.box {
				&.right {
					.content {
						p {
							font-size: 1.5em;
						}
						a {
							&.btn {
								margin-top: 2em;
							}
						}
					}
				}
			}
		}
		&.participa {
			.step {
				&.login {
					.container {
						p {
							padding-top: 2em;
							font-size: 1.5em;
						}
						a {
							&.btn {
								font-size: 1em;
								width: 200px;
								padding: 15px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width:0\0) and (max-height: 1200px){
	.panel {
		.box {
			position: relative;
			.center {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				width: 100%;
				height: 500px;
			}
		}
		&.five {
			.box {
				&.right {
					.content {
						p {
							font-size: 1.3em;
						}
					}
				}
			}
		}
		&.participa {
			.step {
				&.login {
					.container {
						position: relative;
						.center {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							margin: auto;
							width: 100%;
							height: 400px;
						}
						p {
							padding: 0 1em;
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-height: 675px){

	.panel.home .container ul.edad {
	    position: absolute;
	    width: 72%;
	    bottom: 0;
	}

}


@media screen and (max-width: 768px){
	.panel.home .container ul.edad {
	    position: absolute;
	    width: 100%;
	    bottom: 0;
	}
	.panel.home .container ul.edad li {
	    width: 27.3%;
	    float: left;
	    transition: all ease .3s;
	    padding: 3%;
	}
	.waypoint-1 h3 {
	    padding: 2rem 1rem;	
	}
	.panel.participa .step.login .container a.btn {
	    width: 90%;
	}
	.panel.participa .step .thumb {
	    transform: translate(-50%, 0);
	    left: 50%!important;
	    top: 50%!important;
	    /*width: 70%!important;
	    height: auto!important;*/
	    border: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	.panel.participa .step.scene-11 .thumb.thumb-01 {
	    bottom: auto!important;
	    top: 43%!important;
	}
	.panel.participa .step.scene-08 .thumb.thumb-01 {
	    top: 15%!important;
	}
	/*.panel5 .thumb img.fullHeight {
	    width: 100%;
	}*/
	.panel.participa .step.scene-06 .thumb.thumb-02 {
	    display: inline-block;
	}
	.panel.participa .step.scene-02 .thumb.thumb-01 {
	    top: 20%!important;
	}
	.panel.participa .step.scene-05 .thumb.thumb-04 {
		display: none!important;
	}
	.mfp-close {
		top: 0;
		right: 0;
	}
	.panel.participa .step.scene-04 .thumb.thumb-02 {
	    top: 35%!important;
	}
	.panel.participa .step.scene-11 span.text {
	    top: 20%;
	}
}

























